<div class="columns">
    <div class="column is-three-quarters">
        <h1 class="title">Service Order</h1>
        <form novalidate #form="ngForm" (ngSubmit)="save(form)">
            <div class="field is-grouped">
                <div class="column is-half" style="padding-left: 0;">
                    <div class="field">
                        <label class="label">Customer</label>
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select #customer="ngModel" name="customer" [(ngModel)]="order.customerId" required>
                                    <option value="" selected>Select an option</option>
                                    <option *ngFor="let item of customers" [ngValue]="item.id">{{ item.name }}</option>
                                </select>
                                <div *ngIf="customer.invalid && (customer.dirty || customer.touched)" class="form-error">
                                    <div *ngIf="customer.hasError('required')">
                                        Customer is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="field">
                        <label class="label">Employees</label>
                        <div class="control">
                            <div class="select is-fullwidth">                                
                                <select #employee="ngModel" name="employee" [(ngModel)]="order.employeeId" required>
                                    <option value="" selected>Select an option</option>                                    
                                    <option *ngFor="let item of employees" [ngValue]="item.id">{{ item.name }}</option>
                                </select>
                                <div *ngIf="employee.invalid && (employee.dirty || employee.touched)" class="form-error">
                                    <div *ngIf="employee.hasError('required')">
                                        Employee is required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="field is-grouped">
                <div class="column is-half" style="padding-left: 0;">
                    <div class="field">
                        <label class="label">Date</label>
                        <div class="control">
                            <input class="input" 
                                   type="date" 
                                   #date="ngModel"
                                   name="date"
                                   required
                                   [(ngModel)]="order.date"/>

                            <div *ngIf="date.invalid && (date.dirty || date.touched)" class="form-error">
                                <div *ngIf="date.hasError('required')">
                                    Date is required.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column is-grouped is-half">
                    <div class="columns">
                        <div class="column is-half">
                            <div class="field">
                                <label class="label">Start</label>
                                <div class="control">
                                    <input class="input" 
                                           type="time" 
                                           #start="ngModel"
                                           name="start"
                                           required
                                           [(ngModel)]="order.start"/>

                                    <div *ngIf="start.invalid && (start.dirty || start.touched)" class="form-error">
                                        <div *ngIf="start.hasError('required')">
                                            Start is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column is-half">
                            <div class="field">
                                <label class="label">Finish</label>
                                <div class="control">
                                    <input class="input" 
                                           type="time" 
                                           #finish="ngModel"
                                           name="finish"
                                           required
                                           [(ngModel)]="order.finish"/>

                                    <div *ngIf="finish.invalid && (finish.dirty || finish.touched)" class="form-error">
                                        <div *ngIf="finish.hasError('required')">
                                            Finish is required.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Description</label>
                <div class="control">
                    <textarea class="textarea"
                              #description="ngModel"
                              name="description"
                              required
                              maxlength="500"
                              [(ngModel)]="order.description"></textarea>

                    <div *ngIf="description.invalid && (description.dirty || description.touched)" class="form-error">
                        <div *ngIf="description.hasError('required')">
                            A description of the service order is required.
                        </div>
                        <div *ngIf="description.hasError('maxlength')">
                            Description can not have more than 500 characters.
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit">Submit</button>
                </div>
                <div class="control">
                    <button class="button is-link is-light">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>