<h1 class="title">Employees <button class="button is-link" routerLink="/employee/new" routerLinkActive="active">Create New</button></h1>
<article class="message" [ngClass]="{ 'is-primary' : showSuccess, 'is-danger' : showError }">                       
    <div class="message-body" *ngIf="showSuccess && showRemoveResult">
        The employee <span class="has-text-weight-bold">{{selectedEmployee?.name}}</span> was removed successfully!
    </div>
    <div class="message-body" *ngIf="showError && showRemoveResult">
      There were an error while removing the employee <span class="has-text-weight-bold">{{selectedEmployee?.name}}.</span>
    </div>

    <div class="message-body" *ngIf="showSuccess && showUpdateResult">
      Employee updated successfully!
    </div>
    <div class="message-body" *ngIf="showError && showUpdateResult">
      There were an error while updating the employee.
    </div>

    <div class="message-body" *ngIf="showSuccess && showCreateResult">
      Employee created successfully!
    </div>
    <div class="message-body" *ngIf="showError && showCreateResult">
      There were an error while creating the Employee.
    </div>
</article>

<form novalidate #form="ngForm" (ngSubmit)="search()">
  <div class="field is-grouped is-fullwidth">
    <div class="column is-two-fifths" style="padding-left: 0;">
      <div class="field">
        <label class="label">Document Number</label>
        <div class="control">
          <input class="input"    
                 #documentNumber="ngModel" 
                 name="documentNumber" 
                 type="text" 
                 inputmode="numeric"
                 mask="000.000.000-00" 
                 [(ngModel)]="employeeFilter.documentNumber"/>
        </div>
      </div>
    </div>  
    <div class="column is-two-fifths" style="padding-left: 0;">
      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" 
                 #name="ngModel"
                 name="name"
                 type="text" 
                 [(ngModel)]="employeeFilter.name"/>
        </div>
      </div>
    </div>  
    <div class="column" style="padding-left: 0; padding-right: 0; width: 19%;">
      <div class="field">
        <label class="label">Gender</label>
        <div class="control">
            <div class="select is-fullwidth">
                <select #gender="ngModel" name="gender" [(ngModel)]="employeeFilter.gender">
                    <option value="" selected="selected">Select an option</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                </select>
            </div>
          </div>
      </div>
    </div>
  </div>
</form>

<div class="field is-grouped is-fullwidth">
  <div class="column is-two-fifths" style="padding-left: 0;">
    <div class="field">
      <label class="label">Birth Date From</label>
      <div class="control">
          <input class="input" 
                 type="date" 
                 #beginBirthDate="ngModel"
                 name="beginBirthDate"
                 [(ngModel)]="employeeFilter.beginBirthDate"/>
      </div>
    </div>
  </div>  
  <div class="column is-two-fifths" style="padding-left: 0;">
    <div class="field">
      <div class="field">
        <label class="label">Birth Date To</label>
        <div class="control">
            <input class="input" 
                   type="date"                    
                   #endBirthDate="ngModel"
                   name="endBirthDate"                                      
                   [afterDate]="beginBirthDate"
                   [(ngModel)]="employeeFilter.endBirthDate"/>

              <div *ngIf="endBirthDate.invalid && (endBirthDate.dirty || endBirthDate.touched)" class="form-error">                            
                <div *ngIf="endBirthDate.hasError('afterDate')">
                   Birth Date To must be equal or higher than Birth Date From                
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>  
  <div class="column" style="padding-left: 0; padding-right: 0; width: 19%; padding-top: 2.6rem;">
    <button class="button is-link is-fullwidth" type="submit">Search</button>
  </div>
</div>

<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th (click)="sort('id', 'number')">Id <app-sort-direction [direction]="direction" /></th>
            <th (click)="sort('id', 'number')">Name <app-sort-direction [direction]="direction" /></th>
            <th (click)="sort('id', 'number')">Document Number <app-sort-direction [direction]="direction" /></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of employees">
            <td>{{e.id}}</td>
            <td>{{e.name}}</td>
            <td>{{e.documentNumber}}</td>
            <td>
                <button class="button is-primary is-light" (click)="edit(e.id)">Edit</button>
                <button class="button is-danger is-light" (click)="showRemoveModal(e.id)">Remove</button>
            </td>
        </tr>
    </tbody>
</table>
<!--nav class="pagination is-small" role="navigation" aria-label="pagination">
    <a href="#" class="pagination-previous">Previous</a>
    <a href="#" class="pagination-next">Next page</a>
    <ul class="pagination-list">
      <li><a href="#" class="pagination-link" aria-label="Goto page 1">1</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a href="#" class="pagination-link" aria-label="Goto page 45">45</a></li>
      <li>
        <a
          class="pagination-link is-current"
          aria-label="Page 46"
          aria-current="page"
          >46</a
        >
      </li>
      <li><a href="#" class="pagination-link" aria-label="Goto page 47">47</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a href="#" class="pagination-link" aria-label="Goto page 86">86</a></li>
    </ul>
  </nav-->
  
  <div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
    <div class="modal-background" (click)="toggleModal()"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Attention!</p>
        <button class="delete" aria-label="close" (click)="toggleModal()"></button>
      </header>
      <section class="modal-card-body">
        Are you sure you want to remove the employee <span class="has-text-weight-bold">{{ selectedEmployee?.name }}</span> ?
      </section>
      <footer class="modal-card-foot">
        <button class="button is-danger" style="margin-right: 10px;" (click)="confirmDelete()">Yes</button>
        <button class="button" (click)="toggleModal()">No</button>
      </footer>
    </div>
  </div>