<h1 class="title">Employees</h1>
<div class="block">
    <button class="button is-link" routerLink="/employees/new" routerLinkActive="active">Create New</button>
</div>
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Document Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of getEmployees()">
            <td>{{e.id}}</td>
            <td>{{e.name}}</td>
            <td>{{e.documentNumber}}</td>
            <td>
                <button class="button is-primary is-light">Edit</button>
                <button class="button is-danger is-light">Delete</button>
            </td>
        </tr>
    </tbody>
</table>