<h1 class="title">Employees</h1>
<div class="block">
    <button class="button is-link" routerLink="/employees/new" routerLinkActive="active">Create New</button>
</div>
<table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Document Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Joe Doe</td>
            <td>123456789</td>
            <td>
                <button class="button is-primary is-light">Edit</button>
                <button class="button is-danger is-light">Delete</button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>Joe Doe</td>
            <td>123456789</td>
            <td>
                <button class="button is-primary is-light">Edit</button>
                <button class="button is-danger is-light">Delete</button>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>Joe Doe</td>
            <td>123456789</td>
            <td>
                <button class="button is-primary is-light">Edit</button>
                <button class="button is-danger is-light">Delete</button>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>Joe Doe</td>
            <td>123456789</td>
            <td>
                <button class="button is-primary is-light">Edit</button>
                <button class="button is-danger is-light">Delete</button>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td>Joe Doe</td>
            <td>123456789</td>
            <td>
                <button class="button is-primary is-light">Edit</button>
                <button class="button is-danger is-light">Delete</button>
            </td>
        </tr>
    </tbody>
</table>