<h1 class="title">Customers</h1>
<div class="block">
    <button class="button is-link" routerLink="/customers/new" routerLinkActive="active">Create New</button>
</div>
<table class="table  is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Document Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of getCustomers()">
            <td>{{c.id}}</td>
            <td>{{c.name}}</td>
            <td>{{c.documentNumber}}</td>
            <td>
                <button class="button is-primary is-light">Edit</button>
                <button class="button is-danger is-light">Delete</button>
            </td>
        </tr>       
    </tbody>
</table>
<nav class="pagination is-small" role="navigation" aria-label="pagination">
    <a href="#" class="pagination-previous">Previous</a>
    <a href="#" class="pagination-next">Next page</a>
    <ul class="pagination-list">
      <li><a href="#" class="pagination-link" aria-label="Goto page 1">1</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a href="#" class="pagination-link" aria-label="Goto page 45">45</a></li>
      <li>
        <a
          class="pagination-link is-current"
          aria-label="Page 46"
          aria-current="page"
          >46</a
        >
      </li>
      <li><a href="#" class="pagination-link" aria-label="Goto page 47">47</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a href="#" class="pagination-link" aria-label="Goto page 86">86</a></li>
    </ul>
  </nav>