<h1 class="title">Customers <button class="button is-link" routerLink="/customer/new" routerLinkActive="active">Create New</button></h1>

<article class="message" [ngClass]="{ 'is-primary' : showSuccess, 'is-danger' : showError }">                       
    <div class="message-body" *ngIf="showSuccess && showRemoveResult">
        The customer <span class="has-text-weight-bold">{{selectedCustomer?.name}}</span> was removed successfully!
    </div>
    <div class="message-body" *ngIf="showError && showRemoveResult">
      There were an error while removing the customer <span class="has-text-weight-bold">{{selectedCustomer?.name}}.</span>
    </div>

    <div class="message-body" *ngIf="showSuccess && showUpdateResult">
      Customer updated successfully!
    </div>
    <div class="message-body" *ngIf="showError && showUpdateResult">
      There were an error while updating the customer.
    </div>

    <div class="message-body" *ngIf="showSuccess && showCreateResult">
      Customer created successfully!
    </div>
    <div class="message-body" *ngIf="showError && showCreateResult">
      There were an error while creating the customer.
    </div>
</article>

<div class="field is-grouped is-fullwidth">
  <div class="column is-two-fifths">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" type="text" />
      </div>
    </div>
  </div>  
  <div class="column is-two-fifths">
    <div class="field">
      <label class="label">Document Number</label>
      <div class="control">
        <input class="input" type="text" />
      </div>
    </div>
  </div>  
  <div class="column is-one-fifth" style="padding-top: 40px;">
    <button class="button is-link">Search</button>
  </div>
</div>

<table class="table  is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Document Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of getCustomers()">
            <td>{{c.id}}</td>
            <td>{{c.name}}</td>
            <td>{{c.documentNumber}}</td>
            <td>
                <button class="button is-primary is-light" (click)="edit(c.id)">Edit</button>
                <button class="button is-danger is-light" (click)="showRemoveModal(c.id)">Remove</button>
            </td>
        </tr>       
    </tbody>
</table>
<nav class="pagination is-small" role="navigation" aria-label="pagination">
    <a href="#" class="pagination-previous">Previous</a>
    <a href="#" class="pagination-next">Next page</a>
    <ul class="pagination-list">
      <li><a href="#" class="pagination-link" aria-label="Goto page 1">1</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a href="#" class="pagination-link" aria-label="Goto page 45">45</a></li>
      <li>
        <a
          class="pagination-link is-current"
          aria-label="Page 46"
          aria-current="page"
          >46</a
        >
      </li>
      <li><a href="#" class="pagination-link" aria-label="Goto page 47">47</a></li>
      <li><span class="pagination-ellipsis">&hellip;</span></li>
      <li><a href="#" class="pagination-link" aria-label="Goto page 86">86</a></li>
    </ul>
  </nav>

  <div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
    <div class="modal-background" (click)="toggleModal()"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Attention!</p>
        <button class="delete" aria-label="close" (click)="toggleModal()"></button>
      </header>
      <section class="modal-card-body">
        Are you sure you want to remove the customer <span class="has-text-weight-bold">{{ selectedCustomer?.name }}</span> ?
      </section>
      <footer class="modal-card-foot">
        <button class="button is-danger" style="margin-right: 10px;" (click)="confirmDelete()">Yes</button>
        <button class="button" (click)="toggleModal()">No</button>
      </footer>
    </div>
  </div>