<div class="columns">
    <div class="column is-three-quarters">
        <h1 class="title">Employees</h1>        
        <form novalidate #form="ngForm" (ngSubmit)="save(form)">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" 
                        type="text" 
                        #name="ngModel" 
                        name="name" 
                        [(ngModel)]="employee.name" />
                </div>
            </div>
            <div class="field">
                <label class="label">Document Number</label>
                <div class="control">
                    <input class="input" 
                        type="text" 
                        #documentNumber="ngModel"
                        name="documentNumber"
                        [(ngModel)]="employee.documentNumber"/>
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input"
                        type="email"
                        #email="ngModel"
                        name="email"
                        [(ngModel)]="employee.email" />

                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="column is-half" style="padding-left: 0;">
                    <div class="field">
                        <label class="label">Birth Date</label>
                        <div class="control">
                            <input class="input"
                                type="date"
                                #birthDate="ngModel"
                                name="birthDate"
                                [(ngModel)]="employee.birthDate" />

                        </div>
                    </div>
                </div>
                <div class="column is-half">
                    <div class="field">
                        <label class="label">Gender</label>
                        <div class="control">
                        <div class="select is-fullwidth">
                            <select #gender="ngModel" name="gender" [(ngModel)]="employee.gender">
                            <option value="0">Select an option</option>
                            <option value="1">Male</option>
                            <option value="2">Female</option>
                            </select>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit">Submit</button>
                </div>
                <div class="control">
                    <button class="button is-link is-light" 
                            routerLink="/employee">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>