<h1 class="title">Service Order</h1>
<div class="block">
    <button class="button is-link" routerLink="/orders/new" routerLinkActive="active">Create New</button>
</div>
<table class="table  is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th>Id</th>
            <th>Customer</th>
            <th>Employee</th>
            <th>Date</th>
            <th>Start</th>
            <th>Finish</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       <tr *ngFor="let o of getOrders()">
            <td>{{o.id}}</td>
            <td>{{o.employeeId}}</td>
            <td>{{o.customerId}}</td>
            <td>{{o.date}}</td>
            <td>{{o.start}}</td>
            <td>{{o.finish}}</td>
            <td>
                <button class="button is-primary is-light">Edit</button>
                <button class="button is-danger is-light">Delete</button>
            </td>
       </tr>
    </tbody>
</table>