<header class="fixed-grid has-12-cols" style="margin-bottom: 8px;">
    <nav class="navbar is-light grid" role="navigation" aria-label="main navigation">
        <div class="navbar-brand cell is-col-span-11">
            <a class="navbar-item" routerLink="/">
                <span>Murta Soft</span>
            </a>
        </div>
        <div class="cell">
            <button class="button is-text is-small" style="margin-top: 5px;" (click)="logout()">Logout</button>
        </div>
    </nav>
</header>