<div class="columns">
    <div class="column is-one-quarter">
        <aside class="menu" style="margin: 10px; margin-left: 20px;">
            <p class="menu-label"><a routerLink="/home" routerLinkActive="active">Murta Soft</a></p>
            <ul class="menu-list">
              <li><a routerLink="/employees" routerLinkActive="active">Employees</a></li>
              <li><a routerLink="/customers" routerLinkActive="active">Customers</a></li>
              <li><a routerLink="/orders" routerLinkActive="active">Service Order</a></li>
            </ul>
        </aside>
    </div>
    <div class="column">
        <router-outlet />
    </div>
</div>
