<app-header></app-header>
<div class="columns">    
    <app-menu></app-menu>
    <div class="column is-three-quarters">
        <h1 class="title">Customers</h1>
        <form novalidate #form="ngForm" (ngSubmit)="save(form)">
            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" 
                           type="text" 
                           #name="ngModel" 
                           name="name" 
                           required 
                           minlength="3"
                           maxlength="30"
                           [(ngModel)]="customer.name" />

                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="name-error form-error">
                         <div *ngIf="name.hasError('required')">
                           Name is required.
                         </div>
                         <div *ngIf="name.hasError('minlength')">
                            Name min length is 3.
                         </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Document Number</label>
                <div class="control">
                    <input class="input" 
                           type="text" 
                           #documentNumber="ngModel"
                           name="documentNumber"                           
                           required 
                           minlength="14"
                           inputmode="numeric"
                           mask="00.000.000/0000-00"
                           [(ngModel)]="customer.documentNumber"/>

                    <div *ngIf="documentNumber.invalid && (documentNumber.dirty || documentNumber.touched)" class="docnumber-error form-error">
                        <div *ngIf="documentNumber.hasError('required')">
                            Document Number is required.
                        </div>
                        <div *ngIf="documentNumber.hasError('minlength')">
                           Document Number should have 14 characters
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input" 
                           type="email" 
                           #email="ngModel" 
                           name="email" 
                           required
                           email
                           [(ngModel)]="customer.email" />
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="email-error form-error">
                        <div *ngIf="email.hasError('required')">
                            Email is required.
                        </div>
                        <div *ngIf="email.hasError('email')">
                           The input must be a valid email.
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link" type="submit">Submit</button>
                </div>
                <div class="control">
                    <button class="button is-link is-light" 
                            routerLink="/customers">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>