<article class="panel is-info">
    <p class="panel-heading">Login</p>
    <div class="panel-block">        
        <form novalidate>
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    <input class="input is-info" type="text" />
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input is-info" type="password" />
                </div>
            </div>            
            <button class="button is-link" type="submit">Send</button>
        </form>        
    </div>
</article>